<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
</head>
<body>
  Enter FirstNumber:
  <input type="number"placeholder=" enter number"[(ngModel)]="FirstNumber"><br>
  Enter SecondNumber:
  <input type="number"placeholder=" enter number"[(ngModel)]="SecondNumber"><br>
   enter your Result:
  <input type="number"[(ngModel)]="Result"><br>

  <button (click) ="getAdd()">Add</button>
  <button (click) ="getSub()">Sub</button>
  <button (click) ="getMul()">Mul</button>
  <button (click) ="getDiv()">Div</button>
  
</body>
</html>